.App {
    text-align: center;
}

.app-layout {
    display: flex;
    height: 100%;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;   /* always hide horizontal */
    overflow-y: hidden;
    font-family: '', serif ,monospace;
}

#root {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.main-content {
    flex: 1;
    display: flex;
    overflow: hidden;
    min-height: 0;
    transition: margin-left 0.25s ease;
    /* scrollbar-width: none; */
}

.main-content > * {
  flex: 1;
  width: 100%;
  min-width: 0;  /* Prevent flex overflow issues */
}

.main-content.collapsed {
    overflow-y: hidden;
    scrollbar-width: none;
    margin-left: auto;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}