.sidebar {
    width: 70px;
    transition: width 0.2s;
    background-color: rgb(22, 122, 223);
    height: 100vh;
    min-height: 100vh;
    position: sticky;
    overflow-y: auto;
    overflow-x: hidden;
    top: 0;
    left: 0;
    /* z-index: 1000; */
    display: flex;
    flex-direction: column;
}

.sidebar .sidebar-header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    background-color: #86fa82a1;
    color:#1e581e;
    font-size: 28px;
    font-family: 'Courier New', Courier, monospace;
}

.sidebar .img_icon {
    width: 35px;
    height: 35px;
    display: block;
    margin: 5px;
    background-color: white;
    border-radius: 5px;
    object-fit: scale-down;
    align-content: center;
}

.sidebar.expanded {
    width: 250px;
}

.sidebar .list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: hidden;
}

.sidebar .sidebar-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    margin-left: 40px;
    margin-bottom: 2px;
    padding: 0;
    color: black;
    text-decoration: none;
}

.sidebar .nav-item {
    /* background-color: #07632a; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    margin-left: 10px;
    margin-bottom: 2px;
    padding: 0;
}

.sidebar .nav-item.active {
    background-color: #b3b008 !important;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: 50px;
    height: 50px;
    margin-left: 10px;
    margin-bottom: 2px;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(19, 161, 19, 0.466);
}
