.sidebar {
    width: 220px;
    transition: width 0.25s ease; 
    background-color: rgb(46, 108, 170);
    height: 100vh;
    min-height: 100vh;
    position: sticky;
    overflow-y: auto;
    overflow-x: hidden;
    top: 0;
    left: 0;
    /* z-index: 1000; */
    display: flex;
    flex-direction: column;
}

.sidebar.collapsed {
    width: 50px;
}

.sidebar.collapsed .nav-links span {
    display: none;
}

.sidebar.collapsed .nav-links a {
    justify-content: center;
}

.sidebar-header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    background-color: #86fa82a1;
    color:#1e581e;
    font-size: 28px;
    font-family: 'Courier New', Courier, monospace;
}

.sidebar .img_icon {
    width: 35px;
    height: 35px;
    display: block;
    margin: 5px;
    border-radius: 5px;
    object-fit: scale-down;
    align-content: center;
}

.img_icon.active {
    background-color: #1e581e;
    transform: translateY(-3px);
    height: 45px;
    width: 45px;
}

.sidebar .list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: hidden;
}

.sidebar-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: fit-content;
    height: fit-content;
    font-size: large;
    /* margin-left: 40px; */
    margin-bottom: 2px;
    padding: 0;
    color: rgb(255, 255, 255);
    text-decoration: solid;
}

.nav-links {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 1rem 0;
    overflow-y: auto;
    overflow-x: hidden;
    align-items: center;
    /* justify-content: center; */
    width: 220px;
}

.nav-links.collapsed {
    width: 45px;
    overflow-x: hidden;
    align-self: center;
}

.nav-links.logout {
    height: 40px;
    justify-self: flex-end;
    box-sizing: content-box;
}

/* .sidebar-link.active {
    background-color: #b3b008 !important;
    box-shadow: 0 2px 4px rgba(19, 161, 19, 0.466);
} */

.nav-item {
    /* background-color: #639777; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 220px;
    height: 45px;
    padding: 0;
    border-radius: 4px;
}

.nav-item.collapsed {
    width: 45px;
}

.nav-item.active {
    background-color: #347e31 !important;
    box-shadow: 0 2px 2px rgba(2, 12, 2, 0.466);
    transform: translateY(-2px);
    border-radius: 4px !important;
    box-sizing: border-box;
}

.nav-link {
    /* border-radius: 4px; */
    align-items: center;
}

.collapse-btn {
    background-color:  rgb(34, 73, 112);
    box-shadow: 0 1px #06103a;
    border-radius: 4px;
    font-size: larger;
    font-weight: 400;
    color: #fff;
    height: 60px;
}