.register-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    /* margin-top: 2%; */
    background-color: #a4c3cc;
    /* min-width: 350px; */
    width: 100%;
    height: 100%
    /* border-radius: 10px; */
}

.register-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: #0a364b;
    color: white;
    font-size: xx-large;
    font-weight: bold;
}

.register-span {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: bold;
    color: white;
}

.register-exit {
    position: absolute;
    top: 1px;
    right: 10px;
    cursor: pointer;
    display:flex;
    flex-direction: row;
    justify-self: end;
}

.inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 30rem;
}

.input {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.input_field {
    height: 40px;
    width: 200px;
    margin: .5cm;
    font-size: medium;
}

.submit-panel {
    display: flex;
    margin-left: 30%;
    margin-right: 30%;
    margin-left:auto;
    margin-right:auto;
    font-size: large;
    color: rgb(59, 158, 92);
    border-radius: 10px;
    height: 40px;
    width: 5rem;
    align-items: center;
    justify-content: center;
}

.submit-btn {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: rgb(59, 158, 92);
    font-size: large;
    color: #ffffff;
    cursor: pointer;
}

.submit-btn:hover {
    background-color:  rgba(75, 238, 10, 0.623);
    border-radius: 10px;
}

.header {
    font: 4em sans-serif;
    color: white;
    margin: .5cm;
}

.img_icon_reg {
    width: 40px;
    margin: .1cm;
    background-color: #0C9;
    border-radius: 50px;
    color: #FFF;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
}