.dashboard-container {
    /* flex: 1; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1.5rem;
    padding: 1.5rem;
    height: 100%;
    overflow-y: hidden;
    box-sizing: border-box;
    background-color: #a4c3cc;

    scrollbar-width: none;
    -ms-overflow-style: none;
}

.dashboard-container::-webkit-scrollbar {
    display: none;
}

.main-section {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.dashboard-header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    /* height: 40px; */
    overflow-x: auto;
    overflow-y: hidden;
    min-height: 60px;
    padding: 0 16px;
    background-color: #0a364b;
}

.dashboard-header h1 {
    margin: 0 auto;
    flex: 0 1 auto;
    font-size: 36px;
    width: 100%;
    text-align: center;
}

.dashboard-card {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;

    max-height: 100%;
    overflow: hidden;
    box-sizing: border-box;
}

.chart-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    position: relative;
    margin-right: 0.5rem;
}

.line-chart-wrapper canvas {
  max-width: 80% !important;    /* nearly full */
  height: 100% !important;   /* leave space for title/legend */
  object-fit: contain;
}

.pie-chart-wrapper canvas {
  width: 100% !important;
  height: 100% !important;
  object-fit: contain;
}

.subscription-wrapper {
    align-items: center;
    justify-content: center;
    font-style: bold;
}

.budget-wrapper {
    align-items: center;
    justify-content: center;
    font-style: bold;
}

.dashboard-card.transactions {
    border-top: 5px solid #17a2b8;
}

.dashboard-card.categories {
    border-top: 5px solid #28a745;
}

.dashboard-card.subscriptions {
    border-top: 5px solid #ffc107;
}

.dashboard-card.budgets {
    border-top: 5px solid #dc3545;
}

.input-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10%;
    overflow-x: auto;
    min-height: 40px;
    padding: 0 16px;
    background-color: #07632a;
}

.data-table {
    width: 100%;
    border-collapse: collapse;
}

.data-table th,
.data-table td {
    padding: 12px 15px;
    border: 1px solid #ddd;
    background-color: #57adc7;
    border-radius: 2px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.data-table th {
    background-color: #f4f4f4;
    text-align: left;
}

.button-add {
    background-color: #79bb7b;
    color: white;
    border: none;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

.button-delete {
    background-color: #b3331d;
    color: white;
    border: none;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

.button-add:hover {
    background-color: #1e581e;
}

.button-delete:hover {
    background-color: #641515;
}

.input {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    margin: 4px 2px;
    width: calc(100% - 16px);
}

.active-user {
    position: absolute;
    right: 10px;
    display: flex;
    margin: 0 50px 10px 10px;
    padding: 0 30px;
    justify-content: center;
    text-align: center;
    align-items: center;
    align-self: flex-end;
    border-radius: 4px;
    font-size: large;
    background-color: #1d7e1d;
    color: white;
    min-width: 60px;
    /* max-width: 200px; */
    height: 40px;
    box-sizing: border-box;
}

