.budget-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    /* padding: 16px; */
    background-color: #71bb71;
}

.budgets-view {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: auto auto; */
    height: 100vh;
    width: 100%;
    gap: 1.5rem;
    padding: 1.5rem;
    overflow: hidden;
    scrollbar-width: none;
}

.budget-card {
    background: #fff;
    border-radius: 8px;
    padding: 1.2rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    width: 100%;
}

.budget-card h2 {
    margin-bottom: 1rem;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.budget-list.header {
    align-items: center;
    display: flex;
    gap: 0.5rem;
}

.budget-list {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.budget-list.header h2 {
    color: #000;
    justify-content: center;
}

.budget-bar {
    cursor: pointer;
}

.bar-row {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.budget-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.3rem;
    font-size: 24px;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: solid;
}

.progress-bar {
    position: relative;
    height: 30px;
    width: 100%;
    background: #e5e5e5;
    border-radius: 7px;
    overflow: hidden;
}

.progress-fill {
    position: absolute;
    top: 0;
    height: 100%;
    transition: width 0.3s ease;
}

.progress-fill.remaining {
    left: 0;
    background-color: #28a745;
}
.progress-fill.spent {
    right: 0;
    background-color: #ec111f;
    transition: width 0.4s ease-in-out;
}

.progress-fill.spent.over {
    background-color: #7a1019;
}

.progress-bar.shared {
    display: flex;
}

.budget-details table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 0.5rem;
}

.budget-details th,
.budget-details td {
    padding: 0.4rem;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

.budget-details th {
    background: #f8f8f8;
}

.budget-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 16px;
    height: 40px;
    min-height: 60px;
    background-color: #0a364b;
    color: white
}

.budget-header h1 {
    margin: 0 auto;
    flex: 0 1 auto;
    font-size: 36px;
    width: 100%;
    text-align: center;
    font-weight: bold;
}

.add-budget-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #a4c3cc;
}

.add-budget-form {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 10px 20px;
    align-items: center;
    width: 40%;
    height: 300px;
    margin-bottom: 16px;
    margin-top: 40px;
    border: 2px solid #ddd;
    padding: 2px;
    background-color: #1d689e;
    border-radius: 4px;
}

.add-budget-form input[type="text"],
.add-budget-form input[type="number"] {
    padding: 10px;
    margin: 10px 10px 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 150px;
    font-size: 16px;
    justify-self: center;
}

.add-budget-form select {
    padding: 10px;
    margin: 10px 10px 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 150px;
    font-size: 16px;
    justify-self: center;
}

.add-budget-form label {
    font-size: 18px;
    margin-top: 10px;
    color: white;
    justify-self: flex-start;
}

.add-budget-form button {
    background-color: #318834;
    color: white;
    border: none;
    padding: 10px 20px;
    width: 150px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 4px;
}

.add-budget-button {
    background-color: #318834;
    color: white;
    border: none;
    padding: 0.4rem 0.8rem;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    width: 7rem;
}
.add-budget-button:hover {
    background-color: #1e581e;
}

.delete-budget-button {
    background-color: #d9534f;
    color: white;
    border: none;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}
.delete-budget-button:hover {
    background-color: #af231e;
}
.budget-table {
    width: 100%;
    border-collapse: collapse;
}

.budget-table th,
.budget-table td {
    padding: 12px 15px;
    border: 1px solid #ddd;
    background-color: #57adc7;
    border-radius: 2px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.budget-table th {
    background-color: #f4f4f4;
    text-align: left;
}