.subscriptions-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* position: relative; */
    /* width: 100%; */
    height: 60px;
    margin-left: 0px;
    overflow-x: auto;
    overflow-y: hidden;
    min-height: 60px;
    /* cursor: pointer; */
    /* padding: 0px 16px; */
    background-color: #0a364b;
    /* border-bottom: 1px solid #ddd; */
}

.subscriptions-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100vh;
    overflow-y: auto;
    min-width: 0;
    background-color: #a4c3cc;
    box-sizing: border-box;
    transition: 'margin-left 0.2s';
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.subscriptions .content {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    width: 100%;
}

